{% extends 'info/base.html' %}
{% block content %}
	<div class = "container">
		<ul>
			<li><a href = "https://www.medicalnewstoday.com/articles/184130.php">https://www.medicalnewstoday.com/articles/184130.php</a></li>
			<li><a href = "https://medlineplus.gov/coronaryarterydisease.html">https://medlineplus.gov/coronaryarterydisease.html</a></li>
			<li><a href = "https://www.cdc.gov/heartdisease/facts.htm">https://www.cdc.gov/heartdisease/facts.htm</a></li>
			<li><a href = "https://www.atrainceu.com/course-module-short-view/1711371-102_coronary-artery-disease-cad-module-02">https://www.atrainceu.com/course-module-short-view/1711371-102_coronary-artery-disease-cad-module-02</a></li>
			<li><a href = "https://www.verywellhealth.com/systolic-and-diastolic-blood-pressure-1746075">https://www.verywellhealth.com/systolic-and-diastolic-blood-pressure-1746075</a></li>
			<li><a href = "https://www.medicalnewstoday.com/articles/270644.php">https://www.medicalnewstoday.com/articles/270644.php</a></li>
			<li><a href = "https://www.medicalnewstoday.com/articles/150109.php">https://www.medicalnewstoday.com/articles/150109.php</a></li>
			<li><a href = "https://www.nhlbi.nih.gov/health-topics/low-blood-pressure">https://www.nhlbi.nih.gov/health-topics/low-blood-pressure</a></li>
			<li><a href = "https://www.stroke.org/understand-stroke/what-is-stroke/">https://www.stroke.org/understand-stroke/what-is-stroke/</a></li>
			<li><a href = "https://www.healthline.com/health/diabetes/effects-on-body">https://www.healthline.com/health/diabetes/effects-on-body</a></li>
			<li><a href = "https://medlineplus.gov/diabetes.html">https://medlineplus.gov/diabetes.html</a></li>
			<li><a href = "https://www.mayoclinic.org/diseases-conditions/high-blood-cholesterol/symptoms-causes/syc-20350800">https://www.mayoclinic.org/diseases-conditions/high-blood-cholesterol/symptoms-causes/syc-20350800</a></li>
			<li><a href = "https://www.medicalnewstoday.com/articles/315900.php">https://www.medicalnewstoday.com/articles/315900.php</a></li>
			<li><a href = "https://www.cdc.gov/healthyweight/assessing/bmi/index.html">https://www.cdc.gov/healthyweight/assessing/bmi/index.html</a></li>
			<li><a href = "https://health.clevelandclinic.org/whats-a-healthy-bmi/">https://health.clevelandclinic.org/whats-a-healthy-bmi/</a></li>
			<li><a href = "https://www.heart.org/en/health-topics/high-blood-pressure/the-facts-about-high-blood-pressure/all-about-heart-rate-pulse">https://www.heart.org/en/health-topics/high-blood-pressure/the-facts-about-high-blood-pressure/all-about-heart-rate-pulse</a></li>
			<li><a href = "https://www.mayoclinic.org/healthy-lifestyle/fitness/expert-answers/heart-rate/faq-20057979">https://www.mayoclinic.org/healthy-lifestyle/fitness/expert-answers/heart-rate/faq-20057979</a></li>
			<li><a href = "https://www.webmd.com/diabetes/glucose-diabetes">https://www.webmd.com/diabetes/glucose-diabetes</a></li>
			<li><a href = "https://www.medicinenet.com/script/main/art.asp?articlekey=3608">https://www.medicinenet.com/script/main/art.asp?articlekey=3608</a></li>
			<li><a href = "https://www.mayoclinic.org/diseases-conditions/coronary-artery-disease/symptoms-causes/syc-20350613">https://www.mayoclinic.org/diseases-conditions/coronary-artery-disease/symptoms-causes/syc-20350613</a></li>
			<li><a href = "https://www.heart.org/en/health-topics/heart-attack/angina-chest-pain">https://www.heart.org/en/health-topics/heart-attack/angina-chest-pain</a></li>
			<li><a href = "https://www.mayoclinic.org/diseases-conditions/coronary-artery-disease/symptoms-causes/syc-20350613">https://www.mayoclinic.org/diseases-conditions/coronary-artery-disease/symptoms-causes/syc-20350613</a></li>
			<li><a href = "https://www.healthline.com/health/coronary-artery-disease/symptoms#heart-attack">https://www.healthline.com/health/coronary-artery-disease/symptoms#heart-attack</a></li>
			<li><a href = "https://www.cdc.gov/heartdisease/facts.htm">https://www.cdc.gov/heartdisease/facts.htm</a></li>
			<li><a href= "https://www.healthknowledge.org.uk/public-health-textbook/disease-causation-diagnostic/2b-epidemiology-diseases-phs/chronic-diseases/coronary-heart-disease">https://www.healthknowledge.org.uk/public-health-textbook/disease-causation-diagnostic/2b-epidemiology-diseases-phs/chronic-diseases/coronary-heart-disease</a></li>
		</ul>
	</div>
{% endblock %}	