{% extends 'info/base.html' %}

{% block content %}
	<style>
		.tab{
			margin-left:40px;
		}
	</style>
	<div class = "body_sec">
		<u><h4>Blood Pressure</h4></u>
		<p class = "tab">The pressure of circulating blood on the walls of blood vessels. Most of this pressure is due to work done by the heart by pumping blood through the circulatory system. Hypotension may occur if systolic or diastolic blood pressure readings are lower than normal, which may occur due to dehydration, bleeding episodes, low blood volume, or dilated arteries.</p>
		<u><h4>Body Mass Index (BMI)</h4></u>
		<p class = "tab">Body Mass Index (BMI) is a person’s weight in kilograms divided by the square of height in meters. A high BMI can be an indicator of high body fatness. BMI can be used to screen for weight categories that may lead to health problems but it is not diagnostic of the body fatness or health of an individual.</p>
		<p class = "tab"><u>Measurements for adults</u> in kilograms per meter sqared (kg/m<sup>2</sup>)
			<ul class = "tab">
				<li>Under 18 - Underweight</li>
				<li>18-25 - Normal </li>
				<li>25-30 - Overweight </li>
				<li>30-40 - Obese</li>
				<li>Above 40 - Morbidly Obese</li>
			</ul>
		</p>
		<u><h4>Cholesterol</h4></u>
		<p class = "tab">Cholesterol is a waxy substance found in your blood. Your body needs cholesterol to build healthy cells, but high levels of cholesterol can increase your risk of heart disease.With high cholesterol, you can develop fatty deposits in your blood vessels. Eventually, these deposits grow, making it difficult for enough blood to flow through your arteries. Sometimes, those deposits can break suddenly and form a clot that causes a heart attack or stroke.</p>
		<p class = "tab"><u>Measurements</u>: For adults, cholesterol levels less than 200 are desirable. Levels between 200 and 239 is considered borderline high and levels of 240 and above are considered high. Units are milligrams per deciliter (mg/dL)</p>
		<u><h4>Diabetes</h4></u>
		<p class = "tab">Diabetes is a disease in which your blood glucose, or blood sugar, levels are too high. Glucose comes from the foods you eat. Insulin is a hormone that helps the glucose get into your cells to give them energy. With type 1 diabetes, your body does not make insulin. With type 2 diabetes, the more common type, your body does not make or use insulin well. Without enough insulin, the glucose stays in your blood. You can also have prediabetes. This means that your blood sugar is higher than normal but not high enough to be called diabetes.</p>
		<p class = "tab"> When left untreated, it can lead to potential complications that include heart disease, stroke, kidney damage, and nerve damage. Normally after you eat or drink, your body will break down sugars from your food and use them for energy in your cells.</p>
		<u><h4>Diastolic Blood Pressure</h4></u>
		<p class = "tab">The pressure exerted within arteries between heartbeats</p>
		<p class = "tab"><u>Measurements</u>: Normal diastolic blood pressure is 80 or below. Measurements below 60 can lead to hypotension (low blood pressure). Units are millimeters of mercury (mmHg).</p>
		<u><h4>Glucose</h4></u>
		<p class = "tab">Also known as blood sugar, it is the simple sugar that is the chief source of energy. Glucose is found in the blood and is the main sugar that the body manufactures. The body makes glucose from all three elements of food - protein, fats, and carbohydrates, but the largest amount of glucose derives from carbohydrates. Glucose serves as the major source of energy for living cells. However, cells cannot use glucose without the help of insulin.</p>
		<p class = "tab"><u>Measurements</u> Normal blood sugar levels are less than 100 mg/dL after not eating (fasting) for at least eight hour and less than 140 mg/dL two hours after eating. A level over 125 after not eating (fasting) or 200 mg/dl two hours after a meal is considered high blood glucose, called hyperglycemia. Units are milligrams per deciliter (mg/dL).
		<u><h4>Heart Rate</h4></u>
		<p class = "tab">Your heart rate is the number of times a person's heart beats per minute. A resting heart rate is the heart rate where the heart is pumping the lowest amount of blood you need because you're not exercising. Generally, a lower heart rate at rest implies more efficient heart function and better cardiovascular fitness. For example, a well-trained athlete might have a normal resting heart rate closer to 40 beats per minute.</p>
		<p class = "tab"><u>Healthy Measurements</u>: For adults, a normal resting heart rate ranges from 60 to 100 beats per minute. If you have a heart beat above 100 beats a minute, you may have tachycardia. If you have a heart beat below 60 beats a minute and are not a trained athlete, you may have bradycardia.</p>
		<u><h4>Hypertension</h4></u>
		<p class = "tab">Another name for high blood pressure, it creates higher strain on the heart and blood vessels, increasing the risk of heart disease, heart failure, aneurysm, stroke, and sometimes death. 
		<p class = "tab">Hyper tension is said to occur if systolic blood pressure is above 140m mmHG or your diastolic blood pressure is above 90 mmHG.</p>
		<u><h4>Stroke</h4></u>
		<p class = "tab">A stroke is a “brain attack”. It can happen to anyone at any time. It occurs when blood flow to an area of brain is cut off. When this happens, brain cells are deprived of oxygen and begin to die. When brain cells die during a stroke, abilities controlled by that area of the brain such as memory and muscle control are lost.</p>
		<u><h4>Systolic Blood Pressure</h4></u>
		<p class = "tab">The pressure exerted when blood is ejected into arteries.</p>
		<p class = "tab"><u>Normal blood sugar levels are less than 100 mg/dL after not eating (fasting) for at least eight hours. And they're less than 140 mg/dL two hours after eating.Measurements</u>: Normal systolic blood pressure is below 120. Measurements below 90 can lead to hypotension (low blood pressure). Units are millimeters of mercury (mmHg).</p>
	</div>
{% endblock %}